body{
    background:#E6F1FF;
    font-family:Arial;
    margin:0;
}

/* Barre ENT */
#topbar{
    background:#1E4DB7;
    color:white;
    padding:10px 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:22px;
    font-weight:bold;
    border-bottom:3px solid #12306F;
}
#logo{
    height:42px;
}
#title{
    flex:1;
    text-align:center;
}
#clock{
    font-size:18px;
    opacity:.9;
}

/* Boutons */
.center{text-align:center;margin-top:10px;}
.btn{
    padding:8px 14px;
    margin:4px;
    background:#E0EBFF;
    border:1px solid #1E4DB7;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

/* Zone d’édition */
#board{
    width:90%;
    height:550px;
    margin:20px auto;
    background:white;
    border:2px solid #76A1FF;
    border-radius:14px;
    position:relative;
}

/* Bloc texte */
.el{
    position:absolute;
    background:white;
    border:2px solid #76A1FF;
    border-radius:8px;
    padding:4px;
    font-size:26px;
    resize:both;
    overflow:auto;
    cursor:move;
}

/* Fond bleu presets */
.bg-box{
    position:absolute;
    left:3%; top:10%;
    width:94%; height:80%;
    background:#D8E6FF;
    border-radius:20px;
    border:2px solid #76A1FF;
}
